In [79]:
import os
import pandas as pd
import numpy
import plotly.express as px

current_directory = os.getcwd()

In [80]:
vgsales_dataset = pd.read_csv(f'{current_directory}//vgsales.csv')

vgsales_dataset_copy = vgsales_dataset.copy()

vgsales_dataset_copy

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [81]:
vgsales_dataset_copy.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [82]:
vgsales_dataset_copy = vgsales_dataset_copy.dropna()

In [83]:
vgsales_dataset_copy[['Rank', 'Name']]

        Rank                                              Name
0          1                                        Wii Sports
1          2                                 Super Mario Bros.
2          3                                    Mario Kart Wii
3          4                                 Wii Sports Resort
4          5                          Pokemon Red/Pokemon Blue
...      ...                                               ...
16593  16596                Woody Woodpecker in Crazy Castle 5
16594  16597                     Men in Black II: Alien Escape
16595  16598  SCORE International Baja 1000: The Official Game
16596  16599                                        Know How 2
16597  16600                                  Spirits & Spells

[16291 rows x 2 columns]

In [84]:
vgsales_dataset_copy[['Name','Rank','Year']][vgsales_dataset_copy['Year'] == 2004 ].sort_values(by='Rank', ascending=True)

                                    Name   Rank    Year
17         Grand Theft Auto: San Andreas     18  2004.0
47                        Gran Turismo 4     48  2004.0
58     Pokemon FireRed/Pokemon LeafGreen     59  2004.0
59                        Super Mario 64     60  2004.0
79                                Halo 2     80  2004.0
...                                  ...    ...     ...
16330      Ultraman Fighting Evolution 3  16333  2004.0
16362                         Powerdrome  16365  2004.0
16375               Colin McRae Rally 04  16378  2004.0
16445        Wade Hixton's Counter Punch  16448  2004.0
16591                Myst IV: Revelation  16594  2004.0

[744 rows x 3 columns]

In [85]:
vgsales_dataset_copy[['Name','Rank','Year']][(vgsales_dataset_copy['Year'] >= 1980) & (vgsales_dataset_copy['Year'] <= 1999)].sort_values(by='Rank', ascending=True)

                                Name   Rank    Year
1                  Super Mario Bros.      2  1985.0
4           Pokemon Red/Pokemon Blue      5  1996.0
5                             Tetris      6  1989.0
9                          Duck Hunt     10  1984.0
12       Pokemon Gold/Pokemon Silver     13  1999.0
...                              ...    ...     ...
16379             Grand Prix Legends  16382  1997.0
16436                        Worms 2  16439  1997.0
16506  Samurai Shodown: Warrios Rage  16509  1999.0
16554              Psychic Detective  16557  1995.0
16583                 Carmageddon 64  16586  1999.0

[1974 rows x 3 columns]

In [86]:
vgsales_dataset_copy[['Name','Rank','Year']][vgsales_dataset_copy['Year'] == 2009].sort_values(by='Rank', ascending=True)

                                       Name   Rank    Year
3                         Wii Sports Resort      4  2009.0
8                 New Super Mario Bros. Wii      9  2009.0
14                             Wii Fit Plus     15  2009.0
36           Call of Duty: Modern Warfare 2     37  2009.0
45     Pokemon HeartGold/Pokemon SoulSilver     46  2009.0
...                                     ...    ...     ...
16540                               15 Days  16543  2009.0
16551                    Sweet Honey Coming  16554  2009.0
16577                             Damnation  16580  2009.0
16586        Secret Files 2: Puritas Cordis  16589  2009.0
16587              Mezase!! Tsuri Master DS  16590  2009.0

[1431 rows x 3 columns]

In [87]:
vgsales_dataset_copy['Global_Sales'].sum()

np.float64(8811.97)

In [88]:
vgsales_dataset_copy['Year'] = vgsales_dataset_copy['Year'].astype('int64')

C:\Users\63947\AppData\Local\Temp\ipykernel_6160\3316628665.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [89]:
vgsales_dataset_copy.dtypes

Rank              int64
Name             object
Platform         object
Year              int64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [90]:
counts = vgsales_dataset_copy['Year'].value_counts()

counts

Year
2009    1431
2008    1428
2010    1257
2007    1201
2011    1136
2006    1008
2005     936
2002     829
2003     775
2004     744
2012     655
2015     614
2014     580
2013     546
2001     482
1998     379
2000     349
2016     342
1999     338
1997     289
1996     263
1995     219
1994     121
1993      60
1981      46
1992      43
1991      41
1982      36
1986      21
1989      17
1983      17
1987      16
1990      16
1988      15
1985      14
1984      14
1980       9
2017       3
2020       1
Name: count, dtype: int64

In [91]:
year_counts = counts.reset_index()

year_counts.columns = ['Year', 'Counts']

year_counts

    Year  Counts
0   2009    1431
1   2008    1428
2   2010    1257
3   2007    1201
4   2011    1136
5   2006    1008
6   2005     936
7   2002     829
8   2003     775
9   2004     744
10  2012     655
11  2015     614
12  2014     580
13  2013     546
14  2001     482
15  1998     379
16  2000     349
17  2016     342
18  1999     338
19  1997     289
20  1996     263
21  1995     219
22  1994     121
23  1993      60
24  1981      46
25  1992      43
26  1991      41
27  1982      36
28  1986      21
29  1989      17
30  1983      17
31  1987      16
32  1990      16
33  1988      15
34  1985      14
35  1984      14
36  1980       9
37  2017       3
38  2020       1

In [92]:
year_counts = year_counts.sort_values(by='Year', ascending=False)

fig = px.line(year_counts, x='Year', y='Counts', width=1000,height=800)

fig.show()